$background-app: #d9dcd6;
$padding-horizontal: 20px;
$padding-vertical: 40px;

.container {
  display: flex;
  flex: 1;
  padding: $padding-vertical $padding-horizontal;
  background-color: $background-app;
}

.containerInfo {
  padding: 10px;
}

.header {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Montserrat-Medium';
}

.paragraphNumber {
  font-family: 'Montserrat-Bold';
}

.bullet {
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-family: 'Montserrat-SemiBold';
}

.link {
  color: blue;
  text-decoration: underline;
}
