.container {
  position: absolute;
  top: 0;
  margin: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: #1BA8CB;
  z-index: 9999;
  display: flex;
  align-items: center;
}

.text {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
