.footerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.footerText {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}
